{
  "presets": [[
    "@babel/env",
    {
      "debug": true,
      "targets": [
        "last 2 chrome versions",
        "> 0.3%",
        "not ie > 0"
      ]
    }
  ]],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
